/*VISIBILITY FOR RETREATS AND CLASSES*/

.beginners-class {

}

.displayed {
    display: block;
}

.not-displayed {
    display: none;
}

body {
    font-family: 'Karla', sans-serif;

    max-width: 900px;
    margin: 0 auto 15px auto;
    padding: 0;
}

p {
    font-family: 'Karla', sans-serif;
}


/*NAVIGATION-------------------------*/

.nav {
    display: flex;
    justify-content: space-around;

    width: 75%;
    margin: 25px 0 0 auto;
    padding: 0;

    background-color: rgb(111, 2, 33);
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: white;

    list-style: none;
}

.nav a {
    margin: 5px;
    text-decoration: none;
    color: #fff;
}

.nav a:hover {
    text-decoration: underline;
}

/*-------------------------END NAV */

/* HOME CONTENT------------------------- */

.home-container {
    display: flex;
    justify-content: space-between;
    margin: 0 2% 0 0 ;
    text-align: center;

}

.image-container {
    position: relative;
    display: inline-block;
    margin: -100px 0 0 0;
    width: 100%;
    z-index: -1;
}

#home-background {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
}

.lvc-header {
    font-family: 'Merriweather', serif;
    font-size: 1.8em;

    margin: 0;
    padding: 0;
}

.lvc-header h1 {
    font-weight: lighter;

    margin: 0;
    padding: 0;
}

.lvc-byline {
    font-family: 'Karla', sans-serif;
    font-size: 1.5em;

    margin: 8px 0;
    padding: 0;
}

.lvc-byline h2 {
    font-weight: lighter;
    margin: 0 auto;
    padding: 0;
}

#current-news {
    display: inline-block;
    margin: 30px auto;
    padding: 30px;
    background-color: rgb(196, 211, 221);
}

.news-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;

    margin: 0;
    padding: 0;
}

.news-list li {
    margin: 5px;
    padding: 0;
}

.news-list li p {
    margin: 0;
    padding: 0;
}

/* -------------------------END HOME CONTENT */

/* ABOUT SECTION------------------------- */

#about-us {
    background: #fff;
    padding: 1% 5%;
}

/*Standard Content Container------------------------- */
#standard-content-container {
    display: flex;
    justify-content: space-between;
}
/*-------------------------End Standard Content Container*/

/* Left Content------------------------- */
#left-content {
    flex-grow: 1;
    background-color: #f1e5c8;
    margin: -100px 0 -60px 0;
    max-width: 250px;
    padding: 0;
    z-index: -1;
    text-align: right;
}

#left-content img {
    margin: 0;
    padding: 0;
}

#left-content p {
    margin: 10px;
    padding: 0;
}
/*-------------------------End Left Content */
#right-content {
    flex-grow: 2;
    margin: 0 10%;
}
/* Right Content------------------------- */

.book-list dd {
    font-style: italic;
}

.book-list dd::before {
    content: "- ";
}

/*-------------------------End Right Content */

/* Standard Footer------------------------- */
#standard-footer {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
}

#standard-footer h3 {
    margin: 15px;
}

#standard-footer::after {
    display: block;
    position: relative;
    content: '.';
    height: 30px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(111, 2, 33);

}
/*-------------------------End Standard Footer */

/* utility types */

.logo-font {
    font-family: 'Merriweather', serif;
    font-weight: lighter;
}

.vl {
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .5);
}

.gold-type {
    color: #ba7f51;
}

.red-type {
    color: #8a2629;
}

.blue-type {
    color: #3b6e8f;
}

.current-link a{
    text-decoration: underline;
}